/* reset */
body, html, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

nav .nav-wrapper {
    padding: 0 12px;
}

.home-btn {
    margin: 18px 0;
}

.home-btn a {
    width: 80%;
}
