.post {
	margin: 12px;
}

.post dl {
	margin: 18px 0;
	font-size: 20px;
}

.post dt {
	color: #6F6C6C;
	font-size: 15px;
}

.post-status {
	color: green;
	font-size: 24px;
}

.status-error {
	color: red;
}

.posts .post {
	position: relative;
	overflow:auto;
	padding: 12px;
	background: #FFF;
	border: 1px solid #ccc;
}

.posts dl {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.posts .post-status {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	float: right;
    top: 6px;
}
